.container {
    display: grid;
    background-color: white;
    width: 960px;
    height: 960px;
    margin: auto;
    border: solid black 5px;
}

h1 {
    text-align: center;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.activeButton {
    background-color: grey;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}